
 #titulo{
	  text-align: center;
	  color: #DADCDF;
 }
 
 select{
	 width: 50%;
	 border-radius: 12px;
	 
 }	
 
 .selects{
	 text-align: center; /* Firefox */
	 text-align-last: center; /* para chrome */

 }
 
.submit-line{
	width: 50%;
	
}

body{
	background-color: #799DEF;
}

#nova-tarefa{
	float: right;
	margin-right: 20%;
}

.tarefa{
	float: center;

}

.titulo{
	text-align: center;
}
