.titulo{
	  text-align: center;
	  color: #696969;
	  margin-top: 50px;
	  font-size: 90px;
	  font-style: italic;
	  font-weight: 400;
 }
 
 .cadastro-tarefas{
	 text-align: center;
	 color: #696969;
	 margin-top: 229px;
	 font-size: 68px;
	 font-style: italic;
 }
 
.font-label{
	font-size: 25px;
	font-style: italic;
}
 
 select{
	 
	 width: 45%;

	 
 }	
 
 .selects{
	 text-align: center; /* Firefox */
	 text-align-last: center; /* para chrome */
	 margin-top: 70px;
	 border-radius: 12px;

 }
 
.submit-line{
	width: 50%;
	
}

body{
	background-image: url(../imagens/caderno.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.calendario{
	background-image: url(../imagens/calendario.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.nova-tarefa{
	float: right;
	margin-right: 30%;
	margin-top: 40px;
	margin-left: 30px;
}

#cad-form{
	margin-left: 40%;
	margin-top: 60px;
}

#limp-form{
	margin-left: 70px;
}


.tarefa{
	float: center;

}

.input-index{
	width: 35%;
	margin-top: 50px;
}


.input-form{
	
	margin-top: 30px;
	margin-left: 28%;
}

.input-form1{
	margin-left: 85px;
}

.input-data{
	margin-left: 15px;
	width: 176px;
}

.input-valor{
	margin-left: 10px;
}

.input-periodo{
	margin-left: 22px;
	width: 178px;
}

.select-tipo{
	margin-left: 58px;
	width: 178px;
}
